@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --color-background: #f6f6f9;
  --color-white: #fff;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --main-font: "Merienda", cursive;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  /* --color-info-dark: #7d8da1; */
  /* --color-info-light: #dce1eb; */
  --color-primary-variant: #111e88;
  --aside-links-size: 20px;
  --aside-links-color: #8895a7;
  --card-border-radius: 32px;
  --border-radius-1: 6.4px;
  --border-radius-2: 12.8px;
  --border-radius-3: 19.2px;

  --card-padding: 28.8px;
  --padding-1: 19.2;
  --statics-font: poppins, sans-serif;
  --box-shadow: 0 32px 48px var(--color-light);
}
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}
html {
  scroll-behavior: smooth;
}
/* start reset */

/* STYLES */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.display-none {
  display: none;
}
/*end reset */
body {
  width: 100vw;
  height: 100vh;
  font-family: var(--main-font);
  font-size: 0.88rem;
  text-transform: capitalize;
  transition: 0.3s;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  position: relative;
  color: var(--color-dark);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* start header style */
.header {
  padding: 10px 0;
  background-color: var(--color-background);
  text-transform: capitalize;
  font-weight: bold;
}
.header #menu-icon {
  display: none;
}
.header .logo a {
  color: var(--color-dark);
}
.header .header-continer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}
.header .right-header .user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding-left: 2px;
  box-shadow: 2px 4px 10px var(--color-dark);
}

/* header for tablets and phones */
@media (max-width: 1200px) {
  .user-name {
    display: none;
  }
  .header .right-header {
    width: 60px;
  }
  .header .right-header .user-img {
    width: 40px;
    height: 40px;
  }
  .header #menu-icon {
    padding: 20px;
    display: block;
  }
}
/* end header style */

/* start product container section */
.product-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: nowrap;
  text-transform: capitalize;
}
.product-container .aside {
  background-color: var(--color-background);
  width: 290px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  color: var(--aside-links-color);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 1;
  transition-duration: 0.5s;
}
.product-container .aside .products a {
  color: orangered;
}
.product-container .aside li {
  font-size: var(--aside-links-size);
  margin-bottom: 45px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.product-container .aside li:hover {
  color: black;
  transform: translateX(15px);
  -webkit-transform: translateX(15px);
  -moz-transform: translateX(15px);
  -ms-transform: translateX(15px);
  -o-transform: translateX(15px);
  box-shadow: var(--box-shadow);
}
.product-container .aside li:hover a {
  color: black;
}
.product-container .aside li a {
  color: var(--aside-links-color);
}
.product-container .aside .logout {
  padding: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: var(--aside-links-size);
  font-weight: bold;
  cursor: pointer;
}
.product-container .content h1 {
  font-size: 35px;
  font-family: var(--statics-font);
  font-weight: bold;
  text-align: center;
}
.product-container .content {
  width: calc(100% - 290px);
  height: 100%;
  position: absolute;
  right: 0;
  box-shadow: var(--box-shadow);
}
/* content style for phones and medium screens */
@media (max-width: 1200px) {
  .product-container .aside {
    transform: translateX(-290px);
    -webkit-transform: translateX(-290px);
    -moz-transform: translateX(-290px);
    -ms-transform: translateX(-290px);
    -o-transform: translateX(-290px);
  }
  .product-container.activeList .aside {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  .product-container .content {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius-1);
    -webkit-border-radius: var(--border-radius-1);
    -moz-border-radius: var(--border-radius-1);
    -ms-border-radius: var(--border-radius-1);
    -o-border-radius: var(--border-radius-1);
    height: fit-content;
  }
}

/* start products content */
.products-table {
  font-family: var(--statics-font);
  font-size: 20px;
  padding: 30px 10px;
  width: 98%;
  height: fit-content;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-3);
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  column-gap: 5px;
  row-gap: 30px;
}
.products-table .product {
  width: 250px;
  height: 350px;
  overflow: hidden;
  background-color: var(--product-background-color);
  border-radius: var(--product-radius-deg);
  -webkit-border-radius: var(--product-radius-deg);
  -moz-border-radius: var(--product-radius-deg);
  -ms-border-radius: var(--product-radius-deg);
  -o-border-radius: var(--product-radius-deg);
  font-family: var(--product-font);
  padding: 10px;
  text-transform: capitalize;
  border: 1px solid var(--product-background-color);
  box-shadow: 0 32px 48px rgb(132 139 200 / 18%);
}
.products-table .product .product-img {
  overflow: hidden;
  width: 100%;
  height: 60%;
}
.product-img img {
  width: 228.4px;
  height: 179.04px;
}
.product .product-id,
.product .type {
  display: none;
}
.product .product-info {
  width: 100%;
  height: 30%;
}
.product .product-info .prodcut-title {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 9px;
  font-size: var(--product-font-size);
}
.product .product-info .product-description {
  text-transform: capitalize;
  font-size: 14px;
  color: var(--description-color);
}
.product .price {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product .price p {
  font-weight: bold;
}
.product .price p span {
  width: 40px;
  overflow: hidden;
}
.product .price button {
  width: 100px;
  height: 33px;
  background-color: transparent;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  border-radius: var(--button-radius-deg);
  transition-duration: 0.4s;
}
.product .price button:hover {
  background-color: var(--button-color);
  color: var(--main-background-color);
}

/* more details page */
.hide-content {
  filter: blur(20px);
  -webkit-filter: blur(20px);
  pointer-events: none;
}
.btn-style {
  font-size: 12px;
  padding: 10px 25px;
  font-family: var(--statics-font);
  font-weight: 500;
  background-color: var(--aside-links-color);
  color: var(--color-white);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
  cursor: pointer;
}
.more-details-disable {
  position: fixed;
  left: -100%;
}
.more-details-active {
  opacity: 100%;
  z-index: 1;
  width: 600px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--color-white);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.more-details-active form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  /* transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s; */
}
.more-details-active form .labels {
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 10px;
}
.more-details-active form .labels label {
  height: 20%;
  width: 100%;
  font-size: 14px;
  font-family: var(--statics-font);
  color: var(--color-dark);
  font-weight: bold;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.more-details-active form .input-fields {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 10px;
}
.more-details-active .input-fields .input-section {
  height: 20%;
  width: 100%;
  font-size: 14px;
  font-family: var(--statics-font);
  color: var(--color-dark);
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.more-details-active .input-fields {
  pointer-events: none;
}
.more-details-active .input-fields .input-section textarea {
  width: 90%;
  height: 90%;
  resize: none;
}
.more-details-active .input-fields .input-section .type-show {
  font-size: 13px;
  font-family: var(--statics-font);
  color: var(--color-dark);
}
.more-details-active .product-id {
  display: none;
}
.more-details-active .product-price {
  max-width: 55px;
  width: fit-content;
}
.more-details-active .input-section img {
  height: 100%;
}

.more-details-active .buttons {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttons .delete-btn {
  background-color: rgba(255, 0, 0, 0.803);
}
.buttons .save-btn,
.buttons .edit-btn {
  background-color: rgba(255, 68, 0, 0.799);
}
.buttons .save-btn,
.buttons .cancel-btn {
  display: none;
}
.on-edit .product-title,
.on-edit .product-price,
.on-edit textarea {
  border-radius: var(--border-radius-3);
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
  border: 1px solid var(--color-dark);
  padding: 2px 7px;
}
.on-edit img {
  display: none;
}
.on-edit .type-show {
  display: none;
}
.on-edit select {
  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius-3);
  padding: 5px;
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
}
.on-edit .display-none {
  display: block;
}
.on-edit .input-fields {
  pointer-events: painted;
}
.on-edit .buttons .save-btn,
.on-edit .cancel-btn {
  display: block;
}
.on-edit .edit-btn,
.on-edit .done-btn {
  display: none;
}

@media (max-width: 600px) {
  .more-details-active {
    width: 350px;
  }
  .more-details-active form .labels label {
    font-size: 11px;
  }
  .more-details-active form .input-fields input,
  .more-details-active .input-fields .input-section textarea {
    font-size: 11px;
  }
  .more-details-active .input-fields .input-section .type-show {
    font-size: 11px;
  }
  .btn-style {
    font-size: 10px;
    padding: 8px 18px;
    font-family: var(--statics-font);
    font-weight: 500;
    background-color: var(--aside-links-color);
    color: var(--color-white);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    -webkit-border-radius: var(--border-radius-3);
    -moz-border-radius: var(--border-radius-3);
    -ms-border-radius: var(--border-radius-3);
    -o-border-radius: var(--border-radius-3);
    cursor: pointer;
  }
}

/* end more details page */
.new-product-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  font-size: 60px;
  background-color: transparent;
  color: orangered;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .new-product-btn {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
}

/* end products content*/

/* end products container section */
/* start details page */

.new-product {
  display: none;
  opacity: 0%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.active-page {
  display: block;
  opacity: 100%;
  z-index: 1;
  transition: 0.3s;
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--color-white);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
  font-family: var(--statics-font);
  font-weight: bold;
}
.active-page h2 {
  text-align: center;
}
@media (max-width: 450px) {
  .active-page {
    width: 350px;
    font-size: 15px;
  }
}
.active-page form {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-content: center;
  z-index: 2;
}

.hide-content {
  filter: blur(20px);
  -webkit-filter: blur(20px);
  pointer-events: none;
}
.active-page .input-field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 90px;
  background-color: var(--color-white);
  font-size: 20px;
  z-index: 5;
  color: black;
}
.active-page label {
  font-size: 18px;
}
.active-page input {
  width: 78%;
  height: 60px;
  font-size: 20px;
  border-bottom: 1px solid black;
  text-overflow: ellipsis;
}
.active-page select {
  width: 78%;
  font-size: 20px;
  color: var(--color-dark);
  border: 1px solid black;
}
.active-page .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active-page .buttons input {
  width: 20%;
  height: 40px;
  border-radius: var(--border-radius-3);
  font-size: 15px;
  cursor: pointer;
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
}
.active-page .buttons .add-btn {
  background-color: orangered;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
}
.active-page .buttons .form-cancel-btn {
  background-color: rgba(255, 0, 0, 0.791);
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

/* end details page

/* loading animation */

.loader {
  background-color: var(--background-main-color);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.8s;
}

.loader div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--front-main-color);
  border: 1px solid var(--front-main-color);
  margin-left: 5px;
  animation-name: loading2;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.loader .one {
  animation-delay: 0s;
}

.loader .two {
  animation-delay: 0.3s;
}

.loader .three {
  animation-delay: 0.6s;
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes loading2 {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0.2;
    transform: translateY(10px);
  }
}

/* end loading animation */
