@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --color-background: #f6f6f9;
  --color-white: #fff;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --main-font: "Merienda", cursive;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  /* --color-info-dark: #7d8da1; */
  /* --color-info-light: #dce1eb; */
  --color-primary-variant: #111e88;
  --aside-links-size: 20px;
  --aside-links-color: #8895a7;
  --card-border-radius: 32px;
  --border-radius-1: 6.4px;
  --border-radius-2: 12.8px;
  --border-radius-3: 19.2px;

  --card-padding: 28.8px;
  --padding-1: 19.2;
  --statics-font: poppins, sans-serif;
  --box-shadow: 0 32px 48px var(--color-light);
}
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}
html {
  scroll-behavior: smooth;
}
/* start reset */

/* STYLES */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/*end reset */
body {
  width: 100vw;
  height: 100vh;
  font-family: var(--main-font);
  font-size: 0.88rem;
  text-transform: capitalize;
  transition: 0.3s;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  position: relative;
  color: var(--color-dark);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* start header style */
.header {
  padding: 10px 0;
  background-color: var(--color-background);
  text-transform: capitalize;
  font-weight: bold;
}
.header #menu-icon {
  display: none;
}
.header .logo a {
  color: var(--color-dark);
}
.header .header-continer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}
.header .right-header .user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding-left: 2px;
  box-shadow: 2px 4px 10px var(--color-dark);
}

/* header for tablets and phones */
@media (max-width: 1200px) {
  .user-name {
    display: none;
  }
  .header .right-header {
    width: 60px;
  }
  .header .right-header .user-img {
    width: 40px;
    height: 40px;
  }
  .header #menu-icon {
    padding: 20px;
    display: block;
  }
}
/* end header style */

/* start product container section */
.product-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: nowrap;
  text-transform: capitalize;
}
.product-container .aside {
  background-color: var(--color-background);
  width: 290px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  color: var(--aside-links-color);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 1;
  transition-duration: 0.5s;
}
.product-container .aside .products a {
  color: orangered;
}
.product-container .aside li {
  font-size: var(--aside-links-size);
  margin-bottom: 45px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.product-container .aside li:hover {
  color: black;
  transform: translateX(15px);
  -webkit-transform: translateX(15px);
  -moz-transform: translateX(15px);
  -ms-transform: translateX(15px);
  -o-transform: translateX(15px);
  box-shadow: var(--box-shadow);
}
.product-container .aside li:hover a {
  color: black;
}
.product-container .aside li a {
  color: var(--aside-links-color);
}
.product-container .aside .logout {
  padding: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: var(--aside-links-size);
  font-weight: bold;
  cursor: pointer;
}
.product-container .content h1 {
  font-size: 35px;
  font-family: var(--statics-font);
  font-weight: bold;
  text-align: center;
}
.product-container .content {
  width: calc(100% - 290px);
  height: 100%;
  position: absolute;
  right: 0;
  box-shadow: var(--box-shadow);
}
/* content style for phones and medium screens */
@media (max-width: 1200px) {
  .product-container .aside {
    transform: translateX(-290px);
    -webkit-transform: translateX(-290px);
    -moz-transform: translateX(-290px);
    -ms-transform: translateX(-290px);
    -o-transform: translateX(-290px);
  }
  .product-container.activeList .aside {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  .product-container .content {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius-1);
    -webkit-border-radius: var(--border-radius-1);
    -moz-border-radius: var(--border-radius-1);
    -ms-border-radius: var(--border-radius-1);
    -o-border-radius: var(--border-radius-1);
  }
}

/* start products content */
.products-table {
  font-family: var(--statics-font);
  font-size: 20px;
  padding: 30px 10px;
  min-width: 370px;
  width: 95%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-3);
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.products-table .product-item {
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  pointer-events: none;
  box-shadow: 0 5px 20px var(--color-light);
  border-radius: var(--border-radius-3);
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
  transition:0.5s linear;
  background-color: var(--color-background);
  -webkit-transition:0.5s linear;
  -moz-transition:0.5s linear;
  -ms-transition:0.5s linear;
  -o-transition:0.5s linear;
}

.product-item .product-id,
.product-item label,
.product-item .product-img input,
.note,
.product-item select {
  display: none;
}
.product-item form input,.product-item .type-show, .product-item select {
  background-color: transparent;
  font-size: 18px;
  color: #363949;
  width: fit-content;
}
.product-item select {
  font-size: 18px;
  text-transform: capitalize;
}
.product-item .product-price {
  width: 30px;
}
.product-item .part {
  width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product-item .product-desc {
  display: none;
}
.product-item form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 25% 10% 25% 10%;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
  pointer-events: none;
  border-radius: var(--border-radius-3);
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}
.product-item img {
  width: 100px;
}

.product-item .product-btns {
  display: none;
  text-transform: capitalize;
}
.product-item button {
  font-size: 20px;
}
.product-item div.edit {
  color: orangered;
  pointer-events: painted;
  cursor: pointer;
  text-transform: capitalize;
}
@media (max-width: 800px) {
  .product-item,
  .product-item button,
  .product-item .type-show{
    font-size: 12px;
  }
  .product-item .part input,
  .product-item label,
  .product-item span,
  .product-item select,
  .product-item .type-show,
  .product-item {
    font-size: 8px;
  }
  .product-item img {
    width: 60px;
  }
}

.new-product-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  font-size: 60px;
  background-color: transparent;
  color: orangered;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .new-product-btn {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
}

.more-details {
  min-height: 500px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}
.more-details form {
  height: 100%;
  width: 100%;
}
.more-details .part {
  height: 17%;
  width: 100%;
  font-size: 15px;
}

.more-details label {
  font-weight: bold;
  text-wrap: nowrap;
}

.more-details .product-btns {
  width: 50%;
  display: block;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.more-details select {
  font-size: 15px;
}
.more-details .product-btns input {
  color: orangered;
  font-size: 18px;
  pointer-events: painted;
  cursor: pointer;
  overflow: hidden;
  column-gap: 5px;
  padding: 15px;
  border-radius: var(--border-radius-3);
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
}
.more-details .edit,
.more-details .product-btns .cancel-btn,
.more-details .product-btns .save-btn,
.more-details .type-show,
.note {
  display: none;
}
.more-details label,.more-details select {
  display: block;
}
.more-details .part {
  display: flex;
}

.more-details .product-btns .delete-btn {
  background-color: rgba(255, 0, 0, 0.652);
  color: white;
}
@media (max-width: 800px) {
  .more-details,
  .more-details button,
  .more-details select {
    font-size: 12px;
  }
  .more-details .part input,
  .more-details label,
  .more-details span,
  .more-details select,
  .more-details {
    font-size: 8px;
  }
  .more-details img {
    width: 60px;
  }
}
.on-edit input,
.on-edit .product-desc input,
.on-edit select {
  border: 1px solid black;
  pointer-events: painted;
}
.on-edit .product-btns input {
  border: none;
}
.on-edit .product-img input {
  display: block;
}
.on-edit .product-img img {
  display: none;
}
/* end products content*/

/* end products container section */
/* start details page */

.new-product{
  display: none;
  opacity: 0%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.active-page {
  display: block;
  opacity: 100%;
  z-index: 1;
  transition: 0.3s;
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--color-white);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
  font-family: var(--statics-font);
  font-weight: bold;
  
  
}
.active-page h2{
  text-align: center;
}
@media (max-width: 450px) {
  .active-page {
    width: 350px;
    font-size: 15px;
  }
}
.active-page form {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-content: center;
  z-index: 2;
  
}

.hide-content {
  filter: blur(20px);
  -webkit-filter: blur(20px);
  pointer-events: none;
}
.active-page .input-field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 90px;
  background-color: var(--color-white);
  font-size: 20px;
  z-index: 5;
  color: black;
}
.active-page label {
  font-size: 18px;
}
.active-page input {
  width: 78%;
  height: 60px;
  font-size: 20px;
  border-bottom: 1px solid black;
  text-overflow: ellipsis;

}
.active-page select {
  width: 78%;
  font-size: 20px;
  color: var(--color-dark);
  border: 1px solid black;
}
.active-page .buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active-page .buttons input {
  width: 20%;
  height: 40px;
  border-radius: var(--border-radius-3);
  font-size: 15px;
  cursor: pointer;
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
}
.active-page .buttons .add-btn {
  background-color: orangered;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
} 
.active-page .buttons .form-cancel-btn {
  background-color: rgba(255, 0, 0, 0.791);
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  
} 

/* end details page
