:root {
  --color-background: #f6f6f9;
  --color-white: #fff;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --main-font: "Merienda", cursive;
  /* --color-danger: #ff7782; */
  /* --color-success: #41f1b6; */
  /* --color-warning: #ffbb55; */
  /* --color-info-dark: #7d8da1; */
  /* --color-info-light: #dce1eb; */
  /* --color-primary-variant: #111e88; */
  --aside-links-size: 20px;
  --aside-links-color: #8895a7;
  --card-border-radius: 32px;
  --border-radius-1: 6.4px;
  --border-radius-2: 12.8px;
  --border-radius-3: 19.2px;

  --card-padding: 28.8px;
  --padding-1: 19.2;

  --box-shadow: 0 32px 48px var(--color-light);
}
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}
html {
  scroll-behavior: smooth;
}
/* start reset */

/* STYLES */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/*end reset */
body {
  width: 100vw;
  height: 100vh;
  font-family: var(--main-font);
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

/* start header style */
.header {
  padding: 10px 0;
  background-color: var(--color-background);
  text-transform: capitalize;
  font-weight: bold;
}
.header #menu-icon {
  display: none;
}
.header .logo {
  color: orangered;
}
.header .header-continer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}
.header .right-header .user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding-left: 2px;
  box-shadow: 2px 4px 10px var(--color-dark);
}

/* header for tablets and phones */
@media (max-width: 1200px) {
  .header #menu-icon {
    padding: 20px;
    display: block;
  }
}
/* end header style */

/* start dashboard container section */
.dashboard-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: nowrap;
  text-transform: capitalize;
}
.dashboard-container .aside {
  width: 290px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  color: var(--aside-links-color);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
}
.dashboard-container .aside li {
  font-size: var(--aside-links-size);
  margin-bottom: 45px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.dashboard-container .aside li:hover {
  color: black;
  transform: translateX(15px);
  -webkit-transform: translateX(15px);
  -moz-transform: translateX(15px);
  -ms-transform: translateX(15px);
  -o-transform: translateX(15px);
  box-shadow: var(--box-shadow);
}
.dashboard-container .aside li:hover a {
  color: black;
}
.dashboard-container .aside li a {
  color: var(--aside-links-color);
}
.dashboard-container .aside .logout {
  padding: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: var(--aside-links-size);
  font-weight: bold;
}
.dashboard-container .content {
  width: calc(100% - 290px);
  height: 100%;
  box-shadow: var(--box-shadow);
  position: absolute;
  right: 0;
}
/* content style for phones and medium screens */
@media (max-width: 1200px) {
  .dashboard-container .aside {
    transform: translateX(-290px);
    -webkit-transform: translateX(-290px);
    -moz-transform: translateX(-290px);
    -ms-transform: translateX(-290px);
    -o-transform: translateX(-290px);
  }
  .activeList {
    left: 0px;
  }
  .dashboard-container .content {
    width: 100%;
  }
}
/* end dashboard container section */
