/* start global varibales */
:root {
  --main-font: "Merienda", cursive;
  --background-main-color: #333;
  --front-main-color: #ff7000;
  --font-color: white;
  --large-font-size: 30px;
  --small-font-size: 14px;
  --radius-deg: 18px;
}
/* End global varibales */

/* start reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*end reset */

body {
  font-family: var(--main-font);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  /*background-color: var(--background-main-color);
  */
}
.container {
  width: 100%;
  height: 100vh;
  background-image: url(../images/IMG_6452.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  min-width: 300px;
  max-width: fit-content;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
  border: 2px solid var(--front-main-color);
  padding: 20px;
  border-radius: var(--radius-deg);
  -webkit-border-radius: var(--radius-deg);
  -moz-border-radius: var(--radius-deg);
  -ms-border-radius: var(--radius-deg);
  background-color: rgba(0, 0, 0, 0.182);
  box-shadow: 0 0 30px 5px black;
  backdrop-filter: blur(15px);
}
.login-title {
  color: var(--font-color);
  font-size: var(--large-font-size);
  text-shadow: 3px 4px 10px black;
}
.email-container .password-container {
  display: block;
  width: 100%;
}
.login-container i {
  color: var(--font-color);
  font-size: 20px;
}
.email,
.password {
  background-color: var(--front-main-color);
  padding: 15px;
  font-size: 20px;
  border-radius: var(--radius-deg);
  -webkit-border-radius: var(--radius-deg);
  -moz-border-radius: var(--radius-deg);
  -ms-border-radius: var(--radius-deg);
  -o-border-radius: var(--radius-deg);
  border: 1px solid var(--front-main-color);
  background-color: rgba(0, 0, 0, 0.189);
  /* box-shadow: 0 0 5px 0px white; */
  color: var(--font-color);
  width: 70%;
}
.login-container .email:hover,
.password:hover {
  transition-duration: 1s;
  border: 1px solid var(--font-color);
}
.login-container input::placeholder {
  color: white;
  opacity: 0.7;
  font-size: var(--small-font-size);
  font-family: var(--main-font);
}
form * {
  margin: 10px;
}
form .login-btn {
  padding: 10px 30px;
  border-radius: var(--radius-deg);
  -webkit-border-radius: var(--radius-deg);
  -moz-border-radius: var(--radius-deg);
  -ms-border-radius: var(--radius-deg);
  -o-border-radius: var(--radius-deg);
  background-color: transparent;
  color: black;
  border: 1px solid var(--front-main-color);
  box-shadow: 0px 0px 5px black;
}
form .login-btn:hover {
  transition-duration: 0.5s;
  background-color: var(--front-main-color);
  color: var(--font-color);
}
.login-container .login-title {
  padding: 25px;
}
.login-container p {
  margin-top: 15px;
  color: var(--font-color);
  font-size: var(--small-font-size);
}
.login-container p a {
  color: var(--front-main-color);
  text-shadow: 3px 2px 4px black;
}

/* loading animation */

.loader {
  background-color: var(--background-main-color);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.8s;
}

.loader div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--front-main-color);
  border: 1px solid var(--front-main-color);
  margin-left: 5px;
  animation-name: loading2;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.loader .one {
  animation-delay: 0s;
}

.loader .two {
  animation-delay: 0.3s;
}

.loader .three {
  animation-delay: 0.6s;
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes loading2 {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0.2;
    transform: translateY(10px);
  }
}
