/* start global varibales */
:root {
  --main-font: "Merienda", cursive;
  --background-main-color: white;
  --front-main-color: black;
  --font-color: white;
  --large-font-size: 30px;
  --small-font-size: 14px;
  --radius-deg: 18px;
  --color-background: #f6f6f9;
  --color-white: #fff;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --main-font: "Merienda", cursive;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  /* --color-info-dark: #7d8da1; */
  /* --color-info-light: #dce1eb; */
  --color-primary-variant: #111e88;
  --aside-links-size: 20px;
  --aside-links-color: #8895a7;
  --card-border-radius: 32px;
  --border-radius-1: 6.4px;
  --border-radius-2: 12.8px;
  --border-radius-3: 19.2px;
  --card-padding: 28.8px;
  --padding-1: 19.2;
  --statics-font: poppins, sans-serif;
  --box-shadow: 0 32px 48px var(--color-light);
}
/* End global varibales */

/* start reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*end reset */

body {
  font-family: var(--main-font);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  text-decoration: none;
}
a {
  color: var(--color-dark);
}
.container {
  width: 100%;
  height: 100vh;
  /* background-image: url("/images/IMG_6452.PNG");
  background-repeat: no-repeat; */
  /* background-size: cover; */
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  min-width: 280px;
  max-width: 400px;
  width: fit-content;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-3);
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
}
.signup-title {
  color: var(--color-dark);
  font-size: var(--large-font-size);
  cursor: pointer;
}
.input-field-container {
  display: block;
  width: 100%;
}
.signup-container i {
  color: var(--color-dark);
  font-size: 18px;
}
.passwordHint {
  padding-left: 20px;
  text-transform: capitalize;
  display: block;
  width: 100%;
  font-size: 10px;
  font-family: var(--statics-font);
  text-align: start;
  color: rgba(0, 128, 0, 0.754);
  line-height: 5px;
}

.input-style {
  text-transform: capitalize;
  height: 40px;
  width: 250px;
  border: 0.5px solid gray;
  border-radius: var(--border-radius-2);
  -webkit-border-radius: var(--border-radius-2);
  -moz-border-radius: var(--border-radius-2);
  -ms-border-radius: var(--border-radius-2);
  -o-border-radius: var(--border-radius-2);
  box-shadow: 0px 5px 25px var(--color-light);
  margin: 2px;
  padding: 0 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  font-family: var(--statics-font);
}
.input-style:focus {
  box-shadow: none;
  /* border: none; */
  /* outline: 1px solid orangered; */
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.input-style:focus::placeholder {
  transition: 0.3s;
  opacity: 0%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.email {
  text-transform: lowercase;
}

.valid {
  border: 0.5px solid green;
  /* outline-color: green !important; */
}
.notValid {
  border: 0.5px solid red;
}

form * {
  margin: 10px;
}
form .signup-btn {
  padding: 15px 35px;
  background-color: var(--color-dark);
  color: var(--color-white);
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}
form .signup-btn:hover {
  transition-duration: 0.5s;
  background-color: var(--front-main-color);
  color: var(--font-color);
  box-shadow: none;
}
.signup-container .signup-title {
  padding: 25px;
}
.signup-container p {
  margin-top: 15px;
  color: var(--color-dark);
  font-family: var(--statics-font);
  font-size: var(--small-font-size);
}
.signup-container p a {
  color: orangered;
  font-weight: bold;
}

/* loading animation */

.loader {
  background-color: var(--background-main-color);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--front-main-color);
  border: 1px solid var(--front-main-color);
  margin-left: 5px;
  animation-name: loading2;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.loader .one {
  animation-delay: 0s;
}

.loader .two {
  animation-delay: 0.3s;
}

.loader .three {
  animation-delay: 0.6s;
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes loading2 {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0.2;
    transform: translateY(10px);
  }
}
