<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Push Notification</title>
</head>
<body>
    <div class="content body">
        <h1>Test Push Notification</h1>
    </div>
    <!-- end preloading -->
    <script src="/js/userTestNotify.js"></script>
</body>
</html>