<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <!-- connect css file -->
  <link rel="stylesheet" href="/css/login-style.css" />
  <link rel="stylesheet" href="/css/loading-style.css" />
  <!-- fontAwesome -->
  <link rel="stylesheet" href="/css/fontawesome/css/all.min.css" />
  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet" />
  <!-- icon -->
  <link rel="icon" href="/images/home.ico" />
</head>

<body>
  <div class="container">
    <div class="login-container">
      <h2 class="login-title"><a href="home">YKPO Café</a></h2>
      <form class="login-form" id="login-form">
        <div class="email-container">
          <i class="fa-solid fa-user"></i>
          <input type="email" name="email" class="email input-style" placeholder="Email" autocomplete="off" required />
        </div>
        <!-- I need this one to show error message in page -->
        <div class="password-container">
          <i class="fa-solid fa-key"></i>
          <input type="password" name="password" class="password input-style" placeholder="Password" autocomplete="off"
            required />
        </div>
        <p class="error" name="errorMsg">the username or password is not correct. please try again</p>
        <!-- I need this one to show error message in page -->
        <input type="submit" value="Login" class="login-btn" />
      </form>
      <p>Doesn't have account ? <a href="signup">Signup</a></p>
    </div>
  </div>
  <div class="loader">
    <span class="text">YKPO Café</span>
    <span>
      <div class="one"><i class="fa-solid fa-cookie"></i></div>
      <div class="two"><i class="fa-solid fa-martini-glass-citrus"></i></div>
      <div class="three"><i class="fa-solid fa-pizza-slice"></i></div>
    </span>
  </div>
  <!-- connect javascript file -->
  <script src="/js/login.js"></script>
  <script src="/js/loading.js"></script>
</body>

</html>