<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- connect css file -->
    <link rel="stylesheet" href="/css/menu-style.css" />

    <!-- fontawesome -->
    <link rel="stylesheet" href="../css/fontawesome/css/all.min.css" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet" />
    <link rel="icon" href="../images/home.ico" />
    <title>YKPO Cafe</title>
</head>

<body>
    <!-- start header -->
    <div class="header">
        <div class="header-container">
            <span class="logo">YKPO Cafe</span>
            <div class="links">
                <i class="fa-solid fa-bars  burger-icon"></i>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="home.html">About</a></li>
                    <li><a href="reservation.html">Book Table</a></li>
                    <li class="login-phone-btn"><a href="login.html">Login</a></li>
                    <li class="cart-phone-btn"><a href="cart.html"><i class="fa-solid fa-cart-shopping"> </i> Cart </a>
                    </li>

                </ul>
            </div>
            <div class="right-header">
                <a href="cart.html" class="cart-icon"> <i class="fa-solid fa-cart-shopping"></i></a>
                <a href="login.html" class="login-icon">
                    <i class="fa-regular fa-circle-user login-icon"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- end header -->

    <!-- start menu -->
    <div class="menu">
        <h2 class="menu-title">Menu <i class="fa-solid fa-utensils"></i></h2>
        <div class="hot-drinks menu-section">
            <h4>Hot Drinks <i class="fa-solid fa-mug-hot"></i></h4>
            <div class="products ">
                <div class="product hot-drinks">
                    <div class="product-img"><img src="../images/Untitled_Artwork-removebg-preview.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">coffee</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product hot-drinks">
                    <div class="product-img"></div>
                    <div class="product-info">
                        <p class="prodcut-title">tea</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product hot-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product hot-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product hot-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product hot-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product hot-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product hot-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product hot-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="cold-drinks menu-section">
            <h4>Cold Drinks <i class="fa-solid fa-martini-glass-empty"></i></h4>
            <div class="products">
                <div class="product cold-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product cold-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product cold-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product cold-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product cold-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product cold-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product cold-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product cold-drinks">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="food menu-section ">
            <h4>Food <i class="fa-solid fa-pizza-slice"></i></h4>
            <div class="products">
                <div class="product food">
                    <div class="product-img"><img src="../images/product1.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">Steak Beef</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add to cart</button>
                    </div>
                </div>
                <div class="product food">
                    <div class="product-img"> <img src="../images/pasta.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">pizza</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add to cart</button>
                    </div>
                </div>
                <div class="product food">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">burger</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add to cart</button>
                    </div>
                </div>
                <div class="product food">
                    <div class="product-img"><img src="../images/burger-removebg-preview.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">snadwitch</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add to cart</button>
                    </div>
                </div>
                <div class="product food">
                    <div class="product-img"><img src="../images/cezer.png" alt="">
                    </div>
                    <div class="product-info">
                        <p class="prodcut-title">Steak Beef</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dessert menu-section ">
            <h4>Dessert <i class="fa-solid fa-cookie-bite"></i></h4>
            <div class="products">
                <div class="product dessert">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product dessert">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product dessert">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product dessert">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product dessert">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product dessert">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product dessert">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class="product dessert">
                    <div class="product-img"><img src="../images/Daco_1494767.png" alt=""></div>
                    <div class="product-info">
                        <p class="prodcut-title">cappuccino</p>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                            officiis exercitationem nesciunt accusamus .</p>
                    </div>
                    <div class="price">
                        <p>29.99 $</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end menu -->

    <!-- start footer -->
    <div class="footer">
        <div class="left">
            <div class="location footer-loc">
                <i class="fa-solid fa-location-dot"></i>
                <p>Jenin , AbuBaker street</p>
            </div>
            <div class="location footer-loc">
                <i class="fa-solid fa-square-phone-flip"></i>
                <p>+970568453235</p>
            </div>
            <div class="location footer-loc">
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto:abdullahiyad10@gmail.com?subject=contact">Support@ykpocafe.com</a>
            </div>
        </div>
        <div class="right">
            <h3>Social Media</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil voluptate consectetur ex perspiciatis
                rerum quis
                reiciendis saepe beatae necessitatibus eligendi eius natus, itaque aut facilis accusantium in alias
                iusto harum.
            </p>
            <div class="links">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <!-- start preloading -->
    <div class="loader">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>
    <!-- end preloading -->

    <!-- connect javascript file -->
    <script src="/js/menu.js"></script>
</body>

</html>