<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- connect css files -->
    <link rel="stylesheet" href="/css/header-style.css" />
    <link rel="stylesheet" href="/css/footer-style.css">
    <link rel="stylesheet" href="/css/loading-style.css" />
    <link rel="stylesheet" href="/css/user-profile.css" />

    <!-- fontawesome -->
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet" />
    <link rel="icon" href="/images/home.ico" />
    <title>User Profile</title>
</head>

<body>
    <!-- start preloading -->
    <div class="loader">
        <span class="text">YKPO Café</span>
        <span>
            <div class="one"><i class="fa-solid fa-cookie"></i></div>
            <div class="two"><i class="fa-solid fa-martini-glass-citrus"></i></div>
            <div class="three"><i class="fa-solid fa-pizza-slice"></i></div>
        </span>
    </div>
    <!-- end preloading -->
    <!-- start header -->
    <div class="header">
        <div class="header-container">
            <i class="fa-solid fa-bars" id="menu-icon"></i>
            <span class="logo"><a href="/home">YKPO Café</a></span>
            <div class="right-header">
                <div class="user-name">hey <span class="name"></span></div>
            </div>
        </div>
    </div>
    <div class="profile-container">
        <div class="aside">
            <ul>
                <li class="dashboard"><a href="dashboard"><i class="fa-solid fa-house"></i> dashboard</a></li>
                <li class="orders"><a href="orders"><i class="fa-solid fa-scroll"></i> orders</a></li>
                <li class="messages"><a href="messages"><i class="fa-regular fa-envelope"></i> Reservation</a></li>
                <li class="profile"><a href="profile"><i class="fa-solid fa-user"></i> your profile</a></li>

            </ul>
            <button class="logout" onclick="logout()">logout <i
                    class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </div>
        <div class="content body">
            <form action="" class="user-info output" method="post">
                <h1 class="profile-title">your profile</h1>
                <div class="name-container part">
                    <label for="user-name">name :</label>
                    <input type="text" class="nameField" name="user-name" value="user name">
                </div>
                <div class="email-container part">
                    <label for="user-email">email :</label>
                    <input type="email" class="email" name="user-email" value="user@email.com">
                </div>
                <div class="phone-container part">
                    <label for="user-phone">phone :</label>
                    <input type="text" class="phone" name="user-phone" value="05xxxxxxxxx">
                </div>
                <div class="password-container part">

                    <label for="old-password">old password </label>
                    <input type="password" class="old-password" name="old-password">
                </div>
                <div class="password-container part">
                    <label for="new-password">new password : </label>
                    <input type="password" class="new-password" name="new-password">
                </div>

                <div class="part btns">
                    <input type="button" value="edit" class="edit-btn">
                    <input type="button" value="Save" class="save-btn" onclick="updateData()" />
                    <input type="button" value="cancel" class="cancel-btn">
                    <input type="button" class="change-pass-btn" value="change password">
                    <input type="button" value="delete account" class="delete-btn">
                </div>

            </form>
        </div>
    </div>
    <!-- end header -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/user-profile.js"></script>
    <script src="/js/loading.js"></script>
    <script src="/js/update-name.js"></script>
</body>

</html>